{% extends "base/base.html" %}
{% block title %}Password Reset Done{% endblock %}
{% block start %}

<style>
  .para-style {
    padding-bottom: 20px;
  }
</style>

<section class="section-content padding-bottom">
  <div class="container-xl d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center w-100">
      <div class="col-xl-5">
        <div class="card mb-4">
          <div class="card-header" style="text-align: center; font-size: 25px">
            ส่งอีเมลรีเซ็ตรหัสผ่านแล้ว
          </div>
          <div class="card-body text-center">
            <p class="para-style">
              เราได้ส่งคำแนะนำในการตั้งรหัสผ่านใหม่ไปยังอีเมลของคุณแล้ว หากมีบัญชีที่ตรงกับอีเมลที่กรอก คุณจะได้รับอีเมลในไม่ช้า
            </p>
            <a href="{% url 'login' %}" class="btn btn-primary">กลับหน้าเข้าสู่ระบบ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
