{% extends "base/base.html" %}
{% block title %}Password Reset Complete{% endblock %}
{% block start %}

<style>
  .para-style {
    padding-bottom: 20px;
  }
</style>

<!-- ============================ COMPONENT Password Reset Complete ================================= -->
<section class="section-content padding-bottom">
  <div class="container-xl d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center w-100">
      <div class="col-xl-5">
        <div class="card mb-4">
          <div class="card-header" style="text-align: center; font-size: 25px">
            รีเซ็ตรหัสผ่านสำเร็จ
          </div>
          <div class="card-body text-center">
            <p class="para-style">
              ตั้งรหัสผ่านใหม่เรียบร้อยแล้ว คุณสามารถเข้าสู่ระบบได้แล้ว
            </p>
            <a href="{% url 'login' %}" class="btn btn-primary">เข้าสู่ระบบ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ COMPONENT Password Reset Complete END ================================= -->
{% endblock %}
